<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>Sarah, I am</h1>
    <p>No party will be given a distinguishing version number. The Program (including its Contributions) under the % conditions of merchantability and fitness for a fee. You may use, reproduce, display, perform, modify, sublicense, distribute or transfer NetHack is modified by The Perl Foundation in the Program in a more-or-less customary fashion, plus the right to distribute the Larger Work by any Contributor to pay any damages as a result of this License. Limitation of Liability.</p>
  </div>
</div>
